---
layout: default
scriptExtra: ['/js/webcam-refresh.js']
---

.row
	.span12
		h1 Næsten Live webcam
			small Opdaterer ca. hvert andet sekund
		img#camera(alt="Webcam fra klubhuset", src="http://kwkcam.herokuapp.com/camera")

