.page-header
  h1 Arrangementer

.row
  .span6

    .thumbnail
      img(src="https://lh5.googleusercontent.com/-KN7aK7dIjSE/T2xb1x7lDkI/AAAAAAAAGCo/9Vhj3whSevE/s720/Show%252019.JPG")

      
    h2#arrangementer-hds Hele Danmarks Surfdag 
      small også kendt som &raquo;Store surfdag&laquo;
    p.
      Kolding windsurfing klub inviterer hvert år til Store surfdag i klubben, 
      hvor alle interesserede kan komme forbi og få en god dag i hyggelig atmosfære. 
      Der vil være mulighed for at prøve at windsurfe og se klubbens lokaler. 
      Som regel er der også mulighed for beachvolley, kajak samt at købe mad og drikke. 
      I 2011 havde vi endda et reggae band til at spille op for at give ægte Hawaii stemning på stranden.

    h2#arrangementer-kapsejlads Kapsejlads
    p Der arrangeres Kapsejlads-træning / Klubmatch ca. 4 x i sæsonen.
    p Information kontakt Viktor Schmidt, 28119918, Mail: den292@gmail.com

  .span6
    .thumbnail
      <iframe width="450" height="295" src="http://www.youtube.com/embed/GweE3cXAlUQ" frameborder="0" allowfullscreen></iframe>

    h2 Andre arrangementer
    p I løbet af året bliver der og er der blevet arrangeret mange andre arrangementer i klubben så som: 
    ul
      li#arrangementer-guest-instructor Gæsteinstruktører, bla Xenia Kessler, Birger Wedendahl, Torben kornum.
      li#arrangementer-sommercamp Sommercamp
      li Young Gun Cup 
      li RS:One demotour
      li Udstyrs aftner med besøg fra flere surfmærker
      li Rig kurser
      li Sommer sejlads
      li og mange mange flere.


