.page-header
  h1 Klubliv

.row

  .span6
    .thumbnail
      #5723103753454331889.slideshow

    h2#klubaftener Klubaftener
    p
      | Vi har klubaftener hver Onsdag og Torsdag i sommerhalvåret, hvor medlemmerne kan komme at surfe, om enten det er i surfskolen, eller på egen hånd. På skolens eller eget udstyr. Dog vil surfskolen have førsteret til at benytte klubbens udstyr.
      | Efter surf hygger vi som regel med en kold sodavand, som kan købes i ”baren” og en pølse fra grillen.
      | Der er desuden mulighed for hygge i klubhuset med surf videoer osv.


  .span6
    h2#freeride Freeride
    p
      | Man kan godt surfe andre dage end på klubaftener, onsdage og torsdage. Det er dig af hensyn til sikkerhed nødvendigt, at du har gennemført Windsurfer 1. 
      | Man kan til enhver tid tage ned i klubben og sejle på klubbens udstyr, men vi opfordrer til, at man ALDRIG surfer alene. Aftal derfor med andre medlemmer at tage nogle stykker ud sammen, det er også sjovere. 
      | Du kan lave en aftale med én som har en nøgle (nøgleperson), eller henvend dig hos nøgle administratoren og hør om du kan få udleveret en nøgle. 
      | Der vil være en seddel i klubben, hvor man skriver navn og mobilnummer på, hvis man gerne vil med ud og surfe. Så har man muligheden for at kontakte andre, som gerne vil ud og surfe ved klubben.

    h2#klubture Klubture
    p
      | Kolding windsurfing klub arrangerer weekendture til gode windsurfing områder. 
      | Vi tager typisk af sted fra fredag til søndag, men der er mulighed for at deltage 
      | i det tidsrum som passer én bedst. For de som ikke har deres eget udstyr, er der 
      | mulighed for at låne klubbens. 
      | Vi sover i telt, sommerhus eller lignende. Udgifterne søges holdt på et minimum. 
      | Hvis børn eller helt unge ønsker at deltage, kan forældre tage med og have ansvar for de unge mennesker. 
      | Information om de enkelte ture, fællestransport og overnatning kan ses på opslag i klubben og på vores Facebook side.


    h2#fester Klubfester
    p
      | Kolding windsurfing klub arrangerer klub temafester, julefrokost osv, 
      | som finder sted i klubbens lokaler i løbet af året.  
      | Der indkøbes fælles mad og drikke efter aftale. 
      | Hvis unge under 18 år ønsker at deltage, kan forældre tage med og have ansvar 
      | for de unge mennesker. Information om de enkelte fester kan ses på opslag i klubben 
      | og på vores Facebook side.

