.page-header
  h1 Surfskole

h2#blue-playground Den blå legeplads
.row
  .span12
    ul.thumbnails
      li.span3
        .thumbnail: img(alt="", src="/images/blaa-lejeplads/PICT0008.jpg")
      li.span3
        .thumbnail: img(alt="", src="/images/blaa-lejeplads/PICT0013.jpg")
      li.span3
        .thumbnail: img(alt="", src="/images/blaa-lejeplads/PICT0021.jpg")
      li.span3
        .thumbnail: img(alt="", src="/images/blaa-lejeplads/PICT0022.jpg")

p Den Blå Legeplads er et tilbud til de yngste vandhunde fra 6 til 12 år. Børnene lærer gennem leg og sjovt samvær ved og på vand - et grundlæggende windsurfing. Undervisningen foregår helt på børnenes præmisser. Derfor starters træningen først omkring 1. juni, hvor vandet er knap så koldt. Information: kontakt Michael Nexø, 75515111, nexoe@mail.dk

.row
  .span6
    h2#beginner-course Begynder  
      small Dansk Sejlununion, Windsurfer 1

    .thumbnail
      #5723099701280741665.slideshow

    .row
      .span5      
        dl
          dt Hvornår
          dd Hver Onsdag kl. 17.00 – 20.00 i sommerhalvåret fra Maj til midt September.
          
          dt Tilmelding
          dd Mød op i klubben en onsdag eller kontakt en af instruktørerne. 
          dt Medbring
          dd Badetøj og håndklæde.
          dt Krav
          dd Du skal kunne svømme. 
          dd Du skal være medlem af Kolding windsurfing klub. Kontingentet er kr. 400 årligt.
          dt Pris 
          dd 500,- kr for et fuldt kursus på 4 undervisningsdage. Dagene behøver ikke at være efter hinanden.


    .row
      .span6 
        h3 Kursusbeskrivelse
        p
          .row
            .span3
              .thumbnail 
                <iframe width="209" height="180" src="http://www.youtube.com/embed/RkaEz1VNuyA" frameborder="0" allowfullscreen></iframe>
            .span3
              .thumbnail: img(alt="", src="/images/windsurf-1-diplom.jpg")


        p Efter end kursus vil windsurferen være i stand til:

        h4 På land kan sejleren:
        ul
          li Samle mast, bom, sejl, mastefod og ophalerline.
          li Montere finne, sværd og mastefod på windsurferen.

        h4 På vand kan sejleren:
        ul
          li Løfte bræt og sejl i vandet og gøre klar til windsurfing.
          li Snorstarte og komme i den sikre position.
          li Lave en statisk vending af brættet 180°.
          li Windsurfe med en god kropsposition.
          li Styre brættet i de forskellige windsurfing-kurser (bidevind – halvvind – læns – plat læns).

        h4 Sejleren ved:
        ul
          li Hvordan man undgår ulykker i forhold til windsurfing.
          li Hvordan man gør i en nødsituation.
          li Hvilke kurser man kan windsurfe.
          li Hvordan man krydser op mod vinden.
          li Hvordan en windsurfer fungerer.
          li Hvordan de vigtigste søfartsregler er.
          li Hvordan man kommer videre med windsurfing.

        h4 Sejleren har prøvet:
        ul
          li At lave en stagvending.
          li At lave en bomning.

        h4 Sejleren kender:
        ul
          li Klubbens sikkerhedsregler.
          li Klubbens fastsatte kriterier for at deltage i windsurfing

  .span6
    h2#advanced-course Øvede
      small Dansk Sejlununion, Windsurfer 2

    .thumbnail
      #5723101200594528113.slideshow

    .row
      .span5
        dl
          dt Hvornår
          dd Hver Torsdag kl. 17.00 – 20.00 i sommerhalvåret fra Maj til midt September.
          dt Tilmelding
          dd Mød op i klubben en torsdag eller kontakt en af instruktørerne. 
          dt Medbring
          dd Badetøj, håndklæde og evt. egen våddragt og sko.
          dt Krav
          dd Du skal kunne svømme samt have gennemført Windsurfer 1. 
          dd Du skal være medlem af Kolding windsurfing klub. Kontingentet er kr. 400 årligt.
          dt Pris 
          dd 200,- kr for et fuldt kursus på 4 undervisningsdage.  Dagene behøves ikke at være efter hinanden.


    h3 Kursusbeskrivelse

    .pull-right
      .span3
        .thumbnail: img(alt="", src="/images/windsurf-1-diplom.jpg")
    p.
      Advanced Windsurfing er individuel træning for dig som har surfet før eller har gennemgået et 
      surfkursus og gerne vil lære noget mere. 
      Der vil være en eller flere instruktører som er behjælpelig med råd og vejledning. 
      Der vil i løbet af sæsonen blive tema-aftener med fokus på eks. at plane, sejle trapez, 
      freestyle, slalom og formula. KWK vil 2-3 gange i løbet af sæsonen invitere gæsteinstruktører, 
      med speciale i én eller flere discipliner.

    p Efter end kursus vil windsurferen være i stand til:

    h4 På land kan sejleren:
    ul
      li Bedømme vindstyrke og retning.
      li Vurdere forholdene ud fra vejrmeldinger og lokale observationer.
      li Træffe beslutninger om udstyr ud fra egne begrænsninger og vejrforhold.
      li Trimme sejlet ved at justere nedhal og udhal efter forholdene.
      li Indstille bomhøjde og trapezliner.
    h4 På vandet kan sejleren:
    ul
      li Lave en strandstart.
      li Lave en hurtig flydende stagvending.
      li Lave en ikke-planende bomning.
      li Lave rigrotationer.
      li Windsurfe med god kropsposition i forskellige vindstyrker.
      li Sejle en bane med opkryds (stagvendinger) og læns (bomninger).
    h4 Sejleren ved:
    ul
      li Hvordan man trimmer et sejl.
      li Hvordan man finjusterer bomhøjde og trapezliner.
      li Hvordan man arbejder med fastforward-formlen og kender dens fem elementer.
      li Hvordan man forskyder riggen for at dreje en windsurfer.
      li Hvordan man kommer i den bagerste fodstrop under sejlads.
      li Hvordan man kontrollerer fart i krap sø.
      li Hvordan man laver en jibe.
    h4 Sejleren kan:
    ul
      li De vigtigste søfartsregler.
      li Klubbens sikkerhedsregler.
      li De syv huskeregler og følger dem.
      li De internationale nødsignaler.
      li Forklare, hvordan et sejl skaber fremdrift.
    h4 Sejleren har prøvet:
    ul
      li En stagvending med skifte og bytte fodarbejdet.
      li Planende sejlads.
      li At hægte sig i og ud af trapezen.
      li At frigøre sig fra riggen liggende i vandet, under trygge og sikre forhold, ved at hægte sig ud af trapezlinerne eller afmontere trapetzkrogen.
      li At plane samtidig med at være hægtet i trapez.
      li At komme foden i den forreste fodstrop.
      li At styre brættet op mod vinden i planing.
