---
title: 'Webcam'
layout: default
---
.row
	.span12
		h1 Live webcam
			small Hold øje med hvem der er på vandet.
		img(alt="Webcam fra klubhuset", src="http://guest:guest@cam.kwk.dk/video2.mjpg")

		h2 Alternativ version
		p Har du problemer med at se billeder fra webcam så prøv den 
			a(href="/page/webcam-alt") alternative version
			.
