---
write: false
---

h2 Bestyrelse

h4 Formand
p Michael Nexø, 75515111, nexoe@mail.dk

h4 Bestyrelsesmedlemmer

p Torben Hansen, 40618622, torbenabhansen@gmail.com
p Jesper Vesti Jensen, 40641219, jeje@solar.dk
p Peter Brøndsholm, 30682085, brondsholm@gmail.com
p Jan Sparke, 50503425, jan.adelhard@sparke.dk

h4 Suppleant til bestyrelsen
p Jens Østergaard, 40647310, jens ostergaard@yahoo.dk

h4 Kasserer
p Klaus Døssing, 51526353, kladoe1972@gmail.com

h4 Revisor
p Viktor Schmidt, 28119918, den292@gmail.com

h4 Revisorsuppleant
p Mogens Leander, 23307652, leander@ikoner.dk

