---
write: false
---

h2 Bestyrelse

h4 Formand
p Michael Nexø, 75515111, nexoe@mail.dk

h4 Bestyrelsesmedlemmer
p Lars Nybo
p Jens Østergaard, 21201154, jens_ostergaard@yahoo.dk
p Peter Brøndsholm, 30682085, brondsholm@gmail.com
p Jan Sparke, jan.adelhard@sparke.dk

//- p Lars Jessen, 40812247, ljessen@live.dk

h4 Suppleant til bestyrelsen
p Iben Johannsen

h4 Kasserer
p Susanne Refsgaard, susannerefsgaard@gmail.com

h4 Revisor
p Viktor Schmidt, 28119918, den292@gmail.com
p Mikkel Holzmann, 28705271, mikkelhg@gmail.com

h4 Revisorsuppleant
p Morten Ejby, 23303732, mailme@morten-ejby.com

