---
write: false
---

.page-header
  h1 Om Kolding Windsurfing Klub
p 
  | Som ny i klubben og i surfskolen har du sikkert en masse spørgsmål. 
  | Vi håber, at vi her kan hjælpe dig med at få svar på nogle af disse. 
  | Udover det er du naturligvis velkommen til at spørge, hvis der er noget du gerne vil vide.

.row
  .span6
    h2 Historie
    p Kolding Windsurfing Klub blev stiftet i 1992. Det har siden klubbens start, været vort formål at udbrede sporten og fordre unge talenter. Surfskolens dygtige DS uddannede instruktører, underviser over 100 elever hver sommer, det vil sige at vi stadig er en af de førende surfskoler i landet. Vi har Klubaften med surfskole 2 gange ugentligt i sommerhalvåret, hvor elever i alle aldersklasser, begyndere som øvede, bliver undervist efter Dansk Sejlunion’ s surfskole kursussæt windsurfer 1 og windsurfer 2. 
    p Kolding Windsurfing Klub er medlem af Dansk Sejlunion og har et årelangt samarbejde, specielt målrettet mod aktiviteter og tilbud til børn og unge, Og blev i 2007, som første windsurfing klub i Danmark, af Dansk Sejlunion udnævnt til Ungdomsvenlig Sejlklub, samt i 2011-2012 udvalgt som eneste windsurfing klub, i et strategisk projekt, med fokus på fastholdelse af unge mellem 16-25 år. Projektet kaldes et Fyrtårnsprojekt og Kolding windsurfing klub er sammen med 4 sejlklubber, med til at vise vejen for sejlsporten i Danmark.
    p Hele sommeren er fyldt med aktiviteter i Kolding windsurfing klub, og medlemmerne må også bruge klubbens område på andre dage end på klubaftener. 

  .span6
    h2 Udstyr
    p 
      | Vi anbefaler som regel, at man ikke den første sæson køber sit eget udstyr. I starten skal man anvende begynderudstyr, da det er nemmere at lære på og er robust nok til at holde til en begynders håndtering. Klubben har også udstyr til mere øvede som gerne vil udfordres noget mere. 
      | Vil du gerne selv anskaffe udstyr, anbefaler vi, at du køber din egen våddragt, surf støvler og redningsvest. Du kan altid få råd og vejledning i klubben. 
      | Vi har i klubben mulighed for at medlemmerne kan have deres eget udstyr liggende. Box leje koster 200 kr. årligt og aftales med kasseren. Hvis du skal have nøgle til klubben så kontakt nøgle administratoren.

    h2 Kontingent og indmeldelse
    != include('./_new-member-content')


h2 Ordensregler
p Opfør jer pænt, og lad være med at efterlade affald på stranden. Så enkelt kan det siges, men nogle har måske brug for lidt flere detaljer.

ul
  li Klubhuset og klubbens udstyr er til for alle medlem- mere, og det påhviler derfor også os alle at behandle udstyret ordentligt.
  li Derfor rydder man op efter sig selv og medvirker generelt til, at der ser ordentlig ud, ved at give en hjælpende hånd.
  li Klubbens brædder og rigge, våddragter, sko og veste skal behandles som var det ens eget.
  li Eventuelle skader meldes til instruktøren.
  li Når man er færdig på vandet, skylles udstyret inden det lægges på plads.
  li Det er ikke instruktørene, som skal rydde op efter eleverne, men instruktørene hjælper gerne, og spørg om hjælp hvis der er behov for det.
  li Inden våddragten tages af, går man under bruseren for enden af klubhuset og skyller sig af. Husk også surfskoene. Når man er klædt om, skylles våddragten på vrangsiden, og den hænges på plads i klemmerne på væggen.
  li Redningsvesten skylles og hænges op.
  li Husk ALTID at anvende redningsvest på vandet. Kun en tåbe frygter ikke havet.
  li Er du elev på begynderholdet bæres desuden en gul overtræksvest, så er du nemmere at få øje på ude på vandet.
  li Tøj og værdigenstande bør ikke efterlades udenfor klubhuset mens du er på vandet. KWK påtager sig intet ansvar for bortkommende ejendele.

p Der mangler sikkert noget på listen, og skulle du være i tvivl så hold dig til den første regel: Opfør dig pænt...
