---
write: false
---

h2 Nøglepersoner
h4 Nøgleadministrator

p Viktor Schmidt, 28119918, den292@gmail.com

h4 Nøgle personer

ul
  li Michael Nexø, 75515111, nexoe@mail.dk
  li Frank Køppen, 75501991, frank.k@stofanet.dk
  li Jens Østergaard, 21201154, jens_ostergaard@yahoo.dk
  li Flemming Tonsgaard, 22695072, fam.tonsgaard@mail1.stofanet.dk
  li Morten Ejby, 23303732, mailme@morten-ejby.com
  li Claus Nexø Hansen, 40647302, clausnexo@adslhome.dk