---
write: false
---

p Årligt kontingent er på 400 kr og indmeldelse kan ske ved at sende en mail til 
  a(href="mailto:susannerefsgaard@gmail.com") klubbens kasserer 
  | med følgende oplysninger: 

ul
li Navn
li Adresse
li Tlf. nr.
li e-mail adresse
li Fødselsdato

p Du vil derefter modtage et indbetalingskort.

p Skal du betale for andet som kursus 1, kursus 2, bog 1, bog 2, sko eller boksleje, er det til reg. nr. 3427 konto 136 2992. 

p Helst en betaling pr. ting og 
 em husk at angive dit navn og hvad du betaler for 
 | i teksten på betalingen.

