---
write: false
---

h2 KWK's udvalg

h4 Klubhusudvalg
p Frank Poulsen, 23746718, frankmp@stofanet.dk
p Per Vedby Jørgensen, 22173410,   pervedby@mail.com

h4 Klubhus udvidelse projekt
p Olav Steenstrøm, 60187136, olav2us@yahoo.com

h4 Festudvalg
p Anders Christiansen
p Morten Bjerre

h4 Kapsejladsudvalg
p Per Vedby Jørgensen, 22173410,   pervedby@mail.com
p Viktor Schmidt, 28119918, den292@gmail.com

h4 Bådudvalg
p Henning Jørgensen, 75535114, h-joergensen@stofanet.dk

h4 Grill-Bill
p Peter Brøndsholm, 30682085, brondsholm@gmail.com

h4 Klubtursudvalg
p Peter Brønsholm, 30682085, brondsholm@gmail.com
p Peter Skibsted
p Jan Sparke, jan.adelhard@sparke.dk

h4 Fyrtårnsprojekt
p Iben Johansen
p Michael Nexø, 75515111, nexoe@mail.dk

h4 Sponsor/PR udvalg
p Michael Nexø, 75515111, nexoe@mail.dk
p Peter Brønsholm, 30682085, brondsholm@gmail.com
p Blanka

h4 Ungdomsleder
p Mikkel Holzmann, 28705271, mikkelhg@gmail.com

h4 Webmaster
p Rasmus Stougaard, 61677868