---
write: false
---

.page-header
  h1 Vedtægter

h2 § 1 Klubbens navn og hjemsted

p Klubbens navn er Kolding Windsurfing Klub. Foreningens hjemsted er Kolding Kommune.

h2 § 2 Klubbens formål

p Klubbens formål er at:

ol
  li Fremme interessen for windsurfing i Kolding.
  li Fremme sammenholdet, mellem områdets windsurfere.
  li Etablere fælles tilholdssted, såsom klublokaler, m.v.
  li Arrangere ugentlige klubaftener, med diverse aktiviteter.
  li Arrangere klubture.

h2 § 3 Medlemskab af organisation

p Klubben er medlem af Dansk Sejlunion og Lillebælt kredsen og er undergivet disses vedtægter og bestemmelser.

h2 § 4 Optagelse af medlemmer

p Som aktivt eller passivt medlem af seniorafdelingen kan bestyrelsen optage enhver, der er fyldt 18 år.

p Som aktivt eller passivt medlem af ungdomsafdelingen kan bestyrelsen optage enhver i alderen fra 0 år til 17 år.

p Optagelse af umyndige som medlemmer af klubben kræver skriftlig samtykke fra forældre/værge.

p Æresmedlemmer kan på bestyrelsens forslag vælges af generalforsam-lingen.

p Beslutning herom kræver samme majoritet, som er foreskrevet til ændring af klubbens vedtægter, jfr. §15.

p Spørgsmål om valg af æresmedlemmer kan ikke gøres til genstand for diskussion på generalforsamlingen.

h2 § 5 Kontingent

p Klubbens kontingent fastsættes forud for Èt år ad gangen af den siddende bestyrelse. Kontingentet opkræves helårsvis forud for alle medlemmer.

h2 § 6 Udmeldelse - Eksklusion

p Til gyldig udmeldelse kræves, at den sker skriftligt til klubben med mindst 14 dages varsel, og at det pågældende medlem har betalt sit kontingent til klubben frem til den dag, hvorfra udmeldelsen har virkning. Medlemmet har krav på en skriftlig bekræftelse.

p Når et medlem er i kontingentrestance udover 6 måneder, kan besty-relsen med mindst 8 dags skriftlig varsel ekskludere vedkommende.

p Ingen, der er udelukket på grund af kontingentrestance, kan optages på ny som medlem af klubben, før vedkommende har betalt sin gæld til klubben.

p Iøvrigt kan bestyrelsen ekskludere et medlem, når særlige forhold giver anledning dertil. Bestyrelsens beslutning herom kræver dog, at mindst 2/3 af bestyrelsens medlemmer har stemt for eksklusion.

p Vedkommende skal, inden bestyrelsen træffer sin afgørelse, have haft lejlighed til at fremføre sit forsvar, og han kan kræve at spørgs-målet om eksklusion afgøres på den førstkommende ordinære general-forsamling.

p I alle tilfælde, hvor en eksklusion skal behandles på en generalforsamling, har vedkommende medlem krav på at få medde-lelse herom senest 3 døgn, før generalforsamlingen afholdes, ligesom han har adgang til denne med ret til at forsvare sig. Spørgsmålet om eksklusion skal optages som et særskilt punkt på dagsordenen.

p Generalforsamlingens beslutning om eksklusion kræver samme majoritet, som ved ændring af klubbens vedtægter, jfr. §15.

p Et medlem, der er ekskluderet i henhold til en generalforsamlings-beslutning, kan kun optages som medlem ved en ny generalforsamlings-beslutning. Her kræves samme majoritet som ved beslutning om eksklusion.

h2 § 7 Ordin&aelig;r generalforsamling

p Generalforsamlingen er med de indskrænkninger, som disse vedtægter foreskriver, den højeste myndighed i alle klubbens anliggender.

p Den ordinære generalforsamling, der afholdes hvert år efter 3. uge i februar måned, indkaldes med mindst 3 ugers varsel ved skriftlig meddelelse til medlemmerne.

p Dagsordenen bekendtgøres senest 8 dage før generalforsamlingens afholdelse på tilsvarende måde. Forslag, der ønskes forelagt generalforsamlingen til vedtagelse, skal være bestyrelsen i hænde senest 14 dage før generalforsamlingens afholdelse. Forslagene skal optages i dagsordenen.

p Stemmeret har alle aktive medlemmer der er fyldt 18 år, og har været medlem af klubben i de sidste 3 måneder før generalforsamlingen, og som ikke er i kontingentrestance.

p Stemmeret kan kun udøves ved personligt fremmøde.

p Æresmedlemmer kan uden stemmeret overvære generalforsamlingen.

h2 § 8 Dagsorden

p Dagsorden for den ordinære generalforsamling skal omfatte følgende punkter:

ol
  li Valg af dirigent.
  li Bestyrelsens beretning for det forløbne år.
  li Forelæggelse af regnskab for det forløbne år til godkendelse samt budget for det kommende år.
  li Behandling af eventuelt indkomne forslag.
  li Valg af formand.
  li Valg af Kasserer.
  li Valg af den øvrige bestyrelse 4 medlemmer.
  li Valg af 1 suppleant til bestyrelsen.
  li Valg af 2 revisorer samt 1 revisorsuppleant.
  li Eventuelt.

h2 § 9 Generalforsamlingens ledelse m.v.

p Generalforsamlingen vælger sin dirigent, der ikke må være medlem af bestyrelsen, til at lede forhandlingerne.

p Generalforsamlingens beslutninger træffes ved simplet stemmeflertal, jfr. dog §4, stk. 3 og §6 stk. 6 og 7, §15 og §16, stk. 1. Dirigenten bestemmer afstemningsmåden. Dog skal på begæring fra 6 stemmeberettigede medlemmer afstemning og valg foregå skriftligt, ligesom alle afstemninger om eksklusion skal foregå skriftligt.

p Generalforsamlingens beslutninger indføres i en protokol, hvori også et referat af forhandlingerne optages i det omfang, dirigenten bestemmer.

h2 § 10 Ekstraordin&aelig;r generalforsamling

p Ekstraordinær generalforsamling kan til enhver tid indkaldes af bestyrelsen og skal indkaldes, når mindst 6 stemmeberettigede medlemmer skriftligt stiller krav herom til bestyrelsen. I sidstnævnte tilfælde skal generalforsamlingen afholdes senest 1 måned efter, at begæringen er fremsat overfor bestyrelsen med oplysning om det emne, der ønskes behandlet. Om indkaldelsesmåde og udsendelse af dagsorden gælder bestemmelserne i §7, stk. 2.

h2 § 11 Bestyrelse - Valg

p Bestyrelsen er klubbens daglige ledelse og repræsenterer klubben i alle forhold. De vedtagne beslutninger og foretagne handlinger forpligter klubbeni henhold til lovene.

p Bestyrelsen består af en formand, en næstformand, en kasserer, en sekretær, og yderligere 2 medlemmer og vælges for Èt år ad gangen af den ordinære generalforsamling.

p Formanden og kassereren vælges ved særlig afstemning.

p Genvalg kan finde sted.

H2 § 12 Konstituering - Tegningsret

p Bestyrelsen konstituerer sig snarest - dog senest inden 14 dage - efter generalforsamlingen på et bestyrelsesmøde, med næstformand og sekretær.

p Bestyrelsen fastsætter selv sin forretningsorden.

p Bestyrelsen er kun beslutningsdygtig, når mindst halvdelen af dens medlemmer hvoriblandt formanden eller næstformanden, er til stede, jfr. dog §6, stk. 4.

p I formandens forfald indtræder næstformanden i hans sted.

p Over bestyrelsens forhandlinger føres en protokol.

p Klubben tegnes af formanden. Ved økonomiske dispositioner kræves dog underskrift af såvel formanden som kassereren. I alle sager, der angår køb, salg eller pantsætning af fast ejendom eller løsøre, tegnes klubben af formanden, næstformanden og kassereren i forening.

h2 § 13 Regnskab

p Klubbens regnskabsår er kalenderåret.

p Bestyrelsen skal inden den 1. februar afgive driftsregnskab for det foregående år og status pr. den 31. december til revisorerne.

p Driftsregnskab og status forelægges den ordinære generalforsamling til godkendelse og skal være forsynet med revisorernes påtegning.

p Driftsregnskab og status bekendtgøres for klubbens medlemmer senest 8 dage før generalforsamlingens afholdelse.

h2 § 14 Revision

p På den ordinære generalforsamling vælges for Èt år ad gangen 2 kritiske revisorer og 1 revisorsuppleant, jfr. §8.

p Revisorer skal hvert år inden den 8. februar gennemgå det samlede regnskab og påse, at beholdningerne er til stede. Driftsregnskab og status forsynes med påtegning. Hver af revisorerne har til enhver tid adgang til at efterse regnskab og beholdninger.

h2 § 15 Vedtægtsændringer

p Forandringer af vedtægter kan ske på enhver generalforsamling, når mindst 2/3 af de afgivne stemmer er for forslaget.

h2 § 16 Klubbens opløsning

p Bestemmelse om klubbens opløsning kan kun tages på en i dette øjemed særlig indkaldt ekstraordinær generalforsamling. Til dennes beslutningsdygtighed kræves, at mindst 1/2 af klubbens stemmeberettigede medlemmer er til stede, og til forlagets vedtagelse kræves, at mindst 3/4 af de afgivne stemmer er for forslaget.

p Opnås sådant flertal på en generalforsamling, der ikke er beslutningsdygtig, indkaldes til en ny generalforsamling, hvor beslutning kan træffes med ovennævnte stemmeflerhed, uanset hvilket antal stemmeberettigede medlemmer der er til stede.

p På generalforsamlingen skal samtidig træffes bestemmelse om, hvorledes der skal forholdes med klubbens formue, herunder fast ejendom og løsøre, dog er simpelt stemmeflertal her tilstrækkeligt.

p I tilflælde af klubbens opløsning skal den formue, der er i behold, anvendes til idealistiske, søsportslige formål.

p Disse vedtægter er besluttet på en stiftende generalforsamling den 03.03.1994.

p Vedtægterne er herefter justeret på følgende generalforsamlinger:

dl
  dd 22.02.1995 - Ekstraordinær generalforsamling.
  dd 2003 - Ekstraordinær generalforsamling
  dd 2007 - Ordinær generalforsamling

