---
layout: default
---

.row
	.span12
		ul.nav.nav-pills
			li.active: a(href="#history", data-toggle="tab") Generel information
			li: a(href="#contacts", data-toggle="tab") Kontaktinformation
			li: a(href="#vedtaegter", data-toggle="tab") Vedtægter

		.tab-content
			#history.tab-pane.active
				!= include('./_history')

			#contacts.tab-pane
				.row
					.span12
						.page-header
							h1 Kontaktinformation
				.row
					.span4
						!= include('./_bestyrelse')
					.span4
						!= include('./_udvalg')
					.span4
						!= include('./_keyholders')

			#vedtaegter.tab-pane
				section
					!= include('./_vedtaegter')